@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;
    color: var(--black);
    outline: none;
}

:root{
    --white: white;
    --black: rgb(75, 75, 75);
    --grey: rgb(173, 173, 173);
    --lightpink: rgb(255, 227, 232);
    --pink: #FF039E;
}
button, .button {
    padding: 10px 25px;
    background-color: var(--pink);
    font-size: 20px;
    border: none;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 3px;
}
button:hover, .button:hover {
    background-color: var(--black);
}
button:active, .button:active{
   transform: scale(0.98);
}
::selection {
    background-color: var(--pink);
    color: var(--white);
}