:root{
    --border : 1px solid rgb(255, 227, 232);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.title{
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--pink);
 }
 
 .sub_header {
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin:0 auto;
    position: relative;
 }

.sub_header .flex .sub-logo{
    font-size: 3rem;
    color:var(--pink);
 }

 .sub_header .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_header .items form {
    display: flex;
}


.sub_header .items form button {
    font-size: 2rem; 
    color: var(--pink); 
    text-transform: uppercase; 
    text-decoration: none;
    margin: 2rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;    
}

.sub_header .items form button:hover {
    transform: scale(1.2);
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--pink);
    cursor: pointer;
    display: none;
}

.products-preview .preview #menu-btn:hover {
    transform: rotate(90deg);
}

.empty{
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--pink);
    color: var(--pink);
    font-size: 2rem;
    margin-top: 4rem;
    border-radius: .5rem;
 }
 
.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightpink);
    font-size: 2rem;
    padding: 1rem;
    /* padding: 10px;*/
    margin: 1rem 0;
    /* border: 1px solid #f5c6cb;  */
    /* border-radius: 5px; */
 }
 
 .message span {
    flex-grow: 1;
    color: var(--pink);
    /* margin-right: 10px; */
 }
 
 .message i {
    cursor: pointer;
    color: var(--pink);
 }
 

.Categories{
    margin:8rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
 }
 

.Categories .box {
    height: 500px;
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border);
    transition: box-shadow 0.3s;
    margin-bottom: 3rem;
}

.Categories .box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    border-color: var(--pink);
}

.Categories .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Categories .box .option_btn {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.products{
    margin-top: 1rem ;
    margin-bottom: 1rem;
}
 
.products .box-container{
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
 }
 
.products .box-container .box {
    position: relative;
    height: 500px;
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--border);
    transition: box-shadow 0.3s;
}

.products .box-container .box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    border-color: var(--pink);
}

.products .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.products .box-container .box .name{
    padding-top: 0.5rem;
    font-size: 1.5rem;
    color:var(--black);
    text-transform: uppercase;
 }
  
.products .box-container .box .price{
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
 } 

.products .box-container .box .cart-btn{
    background-color: var(--pink);
    color: var(--white);
    border: none;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.products .box-container .box .cart-btn i,
.products .box-container .box .wishlist-btn i{
    color: var(--white);
    font-size: 1.5rem; 
}

.products .box-container .box .cart-btn i{
    margin-right: 1rem;
    color: var(--white);
}

.products .box-container .box .wishlist-btn {
    position: absolute;
    top:2rem;
    right: 2rem;
    background-color: var(--pink);  
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* Pop up styling */
.products-preview {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img {
    max-width: 100%;
    height:20rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.products-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: var(--pink); 
    font-size: 2rem;
}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.products-preview .preview .name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform:uppercase;
}

.products-preview .preview .description {
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: 0.5rem;
}

.products-preview .preview .price {
    font-size: 2rem;
    font-weight: bold;
    color: var(--pink);
    margin-bottom: 1rem;
}

.products-preview .preview form {
    display: flex;
    flex-direction: column;
}

.products-preview .preview form label {
    margin-bottom: 0.4rem;
    font-size: 1.4rem;
}

.products-preview .preview form input,
.products-preview .preview form select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    width: 20rem;
    margin: 0 auto; 
    text-transform: capitalize;
}

.products-preview .preview form button {
    margin-top: 1rem;
    align-self: center;
    background-color: var(--pink);
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    color: var(--white);
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
}

.products-preview .preview form button:hover {
    background-color: var(--lightpink);
    color: var(--pink);
    font-weight: bold;
    border: 1px solid var(--pink);
}

.products-preview .preview form button:hover i{
    color: var(--pink);
}

.products-preview .preview form button i{
    margin-right: 1rem;
    color: var(--white);
}



/* Media queries */
@media (max-width: 768px) {
    .sub_header .items form {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        left: 50%; 
        transform: translateX(-50%);
        width: 100%;
        background-color: #fff; 
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .sub_header .items form.show {
        display: flex;
    }

    #menu-btn {
        display: block;
    }
}